.profimgdiv {
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.profimg {
  height: 4rem;
  width: 4rem;
  border-radius: 8px;
}
.pp {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0rem;
}
.pfrotext {
  margin-left: 8px;
}
.bi-star,
.bi-star-fill,
.bi-star-half {
  color: #ff9212;
  font-size: 10px;
}
.pp2 {
  margin-bottom: 0rem;
  font-size: 12px;
}
.headerProf {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.detailDiv {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px #046b4fc4;
}
.prodimg {
  height: 22rem;
  width: 22rem;
}
.prodimg3 {
  height: 5rem;
  width: 5rem;
  margin-right: 8px;
  margin-bottom: 8px;
}
.disimgsm {
  margin-top: 1rem;
}
.shareDiv {
  display: flex;
  align-items: center;
}
.circlediv {
  height: 24px;
  width: 24px;
  background: #e7e7e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-left: 1rem;
  color: #046b4f;
  padding: 16px;
  box-shadow: 0px 0px 5px #046b4f;
}
.circlediv:hover {
  box-shadow: 0px 0px 1px #046b4f;
}
.circledivimg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.p1p {
  margin-bottom: 0rem;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.counter input {
  width: 34px;
  border: 0;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  background: #046b4f;
  color: #fff;
  appearance: none;
  outline: 0;
}
.counter span {
  display: block;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
  color: #046b4f;
  user-select: none;
  border: 1px solid;
}
.counaddbuy {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}
.btn-orange11 {
  background: #ff9212;
  width: 8rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0rem;
  font-size: 12px;
  height: 2rem;
}
.btn-orange12 {
  background: #dd0e0e;
  width: 8rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0rem;
  font-size: 12px;
  height: 2rem;
}
.proDesHead {
  background-color: #046b4f;
  color: white;
  padding: 8px;
  margin-top: 8px;
}
.txtp {
  margin-bottom: 0rem;
}
.proDesBody {
  padding: 8px;
  border: 1px solid #046b4f;
  max-height: 14rem;
  min-height: 7rem;
  overflow-y: scroll;
}
/* width */
.proDesBody::-webkit-scrollbar {
  width: 4px;
}

/* Track */
/* .comment::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
.proDesBody::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}

/* Handle on hover */
.proDesBody::-webkit-scrollbar-thumb:hover {
  background: #ff9e0c;
}
.p2p {
  margin-bottom: 0rem;
  font-size: 12px;
}
.imgq {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 6px;
  background-color: #046b4f;
}
.comment {
  background-color: white;
  border: 1px solid #d5e3a9;
  border-radius: 6px;
  width: 80%;
  height: 2.9rem;
  padding: 4px;
  overflow-y: scroll;
}
/* width */
.comment::-webkit-scrollbar {
  width: 4px;
}

/* Track */
/* .comment::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
.comment::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}

/* Handle on hover */
.comment::-webkit-scrollbar-thumb:hover {
  background: #ff9e0c;
}

.afd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grn {
  color: #046b4f;
  margin-top: 1rem;
}

.venImg {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  border: 1px solid #d5e3a9;
  background: #d5e3a9;
}
.venDivName {
  display: flex;
  align-items: center;
  background-color: #d5e3a9;
  padding: 8px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #d5e3a9;
}
.venDiv {
  border: 1px solid #d5e3a9;
  border-radius: 10px;
  margin: 1rem;
  min-width: 18rem;
}
.h44 {
  margin-bottom: 0rem;
  font-size: 1.4rem;
  padding-left: 8px;
}
.prodImg3 {
  border-right: 1px solid #d5e3a9;
}
.prodImg3a {
  height: 7rem;
  width: 7rem;
  border-radius: 12px 0px 0px 12px;
}
.venDivProd1 {
  display: flex;
  margin: 1rem;
  border: 1px solid #d5e3a9;
  border-radius: 14px;
  background-color: #ffffff;
}
.unknown {
  padding-left: 1rem;
}
.jkl {
  margin-bottom: 0rem;
}
.btn-orange21 {
  background: #ff9212;
  width: 7rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0rem;
  font-size: 12px;
  height: 2rem;
}
.vvdiv {
  display: flex;
  justify-content: center;
}
.circledivA {
  text-decoration: none;
  color: #046b4f;
}
.drop {
  margin: 1rem 1rem 1rem 0rem;
}
#color {
  border: 1px solid #046b4f;
  height: 2rem;
  border-radius: 4px;
}
#size {
  border: 1px solid #046b4f;
  height: 2rem;
  border-radius: 4px;
}
#wishLogo {
  color: gray;
  cursor: pointer;
}