@media (max-width: 991px) {
    .cal {
        height: 4.5rem;
        width: 4.5rem;
        background-color: #d6e3a9;
        margin: 4px;
        border-radius: 18px;
        box-shadow: 0px 2px 6px #046b4f73;
    }
    .cal:hover {
        height: 4.5rem;
        width: 4.5rem;
        background-color: #ff9212;
        margin: 4px;
        border-radius: 18px;
        box-shadow: 0px 0px #046b4f73;
    }
    .sli {
        height: 15rem;
        width: 100%;
        border-radius: 10px;
    }    
}
@media (max-width: 767px) {
    .alg-c {
        display: flex;
        justify-content: center;
    }
    .sli {
        display: none;
        height: 15rem;
        width: 100%;
        border-radius: 10px;
    }  
}

@media (max-width: 391px) {
    .fd {
        height: 13rem;
        width: 8.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0px 2px 4px 1px #046b508e;
        margin: 2rem 0rem 0rem 0rem;
    }
    .prodimg2 {
        height: 7.5rem;
        width: 7.5rem;
        border-radius: 8px;
        border: 1px solid #d6e3a9;
    }
}