/* navbar1 */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
@media (max-width: 991px) {
  .ms-custom {
    margin-left: 0px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 20px;
  }
  .font_custom {
    font-size: 14px;
    font-weight: 400;
    padding-left: 57px;
    margin-left: 20px;
  }
  .form-control {
    width: 12.5rem;
    margin-left: 20px;
  }
  .d-flex {
    display: flex !important;
    margin-top: 12px;
  }
  #navbarNav {
    background: #d5e3a921;
  }
}

/* navbar2 */
@media (max-width: 991px) {
  .navbar-nav2 {
    background-color: #016b4f;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }
  .cus-nav2 {
    margin-left: 1rem;
  }
}

/* header details */
@media (max-width: 991px) {
  .text-up {
    font-size: 20px;
  }
  .text-mid {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
  }
  .btn-orange {
    background: #ff9212;
    width: 6rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .aln-ce {
    display: none;
  }
  .dis-fix {
    display: flex;
    justify-content: center;
    width: 17rem;
  }
  .bgb {
    display: flex;
    justify-content: space-between;
  }
  .aln-ce2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* prod details */
@media (min-width: 768px) and (max-width: 991px) {
  .boxx {
    height: 6rem;
    width: 11rem;
  }
  .prd-grp {
    height: 6rem;
    width: 6rem;
    background-color: #d5e3a9;
    border-radius: 8px;
  }
  .prd-text {
    width: 30vw;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .try {
    width: 100%;
  }
}

@media (min-width: 520px) and (max-width: 767px) {
  .boxx3 {
    display: none;
  }
  .prd-grp {
    height: 6rem;
    width: 6rem;
  }
  .prd-text {
    width: 30vw;
  }
}

@media (max-width: 519px) {
  .prd-grp {
    height: 6rem;
    width: 6rem;
  }
  .prd-text {
    width: 30vw;
  }
  .grp-link {
    font-size: 14px;
  }
  .prd-text2 {
    font-size: 10px;
  }
  .grp_brd {
    justify-content: center;
  }
  .box_aln_wrp {
    justify-content: center;
  }
}

/* client stat */
@media (max-width: 767px) {
  .stat-dis {
    height: 30vh;
  }
  .ven-ico {
    font-size: 4rem;
  }
  .ven-num {
    font-size: 1.6rem;
  }
  .ven-text {
    font-size: 1rem;
  }
}

/* footer */
@media (max-width: 767px) {
  .fotimg {
    height: 10vh;
    width: 22vw;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
}